# 4.8 Task Grouping Data & Aggregating Variables

##  1.  Import libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Create path
path = r'/Users/andrewruhnow/Documents/12-2023 Instacart Basket Analysis'

In [3]:
path

'/Users/andrewruhnow/Documents/12-2023 Instacart Basket Analysis'

##  2.  Import Data

In [4]:
# Importing orders_products_merged_derived.pkl
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_derived.pkl'))

##  Q2.  Aggregate mean of order_number column grouped by department_id for entire dataframe.

In [5]:
# Checking dataframe 
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both,Mid-range product,Regularly busy,Slowest days,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both,Mid-range product,Least busy,Slowest days,Average orders

In [6]:
#  Use groupby and agg function to to aggregate mean of "order_number" grouped by "department_id"
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457687
2                17.277920
3                17.179756
4                17.811403
5                15.213779
6                16.439806
7                17.225773
8                15.340520
9                15.895474
10               20.197148
11               16.170828
12               15.887622
13               16.583304
14               16.757377
15               16.165037
16               17.663250
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

#  Q3.  Analyze the results.  How do the results for the entire dataframe differ from those of the subset?

There are 21 department_id's and the mean values vary overall for each department when entire dataframe is included when compared to the subset.

#  Q4.  Create a loyalty flag for existing customers.

In [7]:
# Create MAX order column
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

/var/folders/qg/tbv61t9j3ngdmw6m2qtbk34w0000gn/T/ipykernel_8946/2365309611.py:2: FutureWarning: The provided callable <function amax at 0x104a38860> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [8]:
# Confirm new column has been added
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both,Mid-range product,Least busy,Slowest days,Average orders,3

In [9]:
# Create Loyalty flags
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [10]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [11]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [12]:
# Check loyalty flags
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15891077
Loyal customer      10293737
New customer         6249398
Name: count, dtype: int64

In [13]:
# Check loyalty flags for errors
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(30)

    user_id      loyalty_flag  order_number
0       138  Regular customer            28
1       138  Regular customer            30
2       709      New customer             2
3       764      New customer             1
4       764      New customer             3
5       777  Regular customer            16
6       825      New customer             3
7       910  Regular customer            12
8      1052  Regular customer            10
9      1052  Regular customer            15
10     1379      New customer             1
11     1480    Loyal customer            36
12     1480    Loyal customer            38
13     1480    Loyal customer            39
14     1494  Regular customer             6
15     1494  Regular customer             7
16     1494  Regular customer             9
17     1540  Regular customer             4
18     1540  Regular customer             5
19     1540  Regular customer             6
20     1540  Regular customer             7
21     1540  Regular customer             8
22     1540  Regular customer             9
23     1540  Regular customer            14
24     1540  Regular customer            15
25     1540  Regular customer            18
26     1540  Regular customer            19
27     1540  Regular customer            20
28     1540  Regular customer            21
29     1540  Regular customer            22

#  Q5.  Determine whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

####  The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [14]:
# Determine min, max, and mean for each loyalty flag
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['min', 'max', 'mean']})

                 prices
                    min      max       mean
loyalty_flag
Loyal customer      1.0  99999.0  10.388747
New customer        1.0  99999.0  13.294370
Regular customer    1.0  99999.0  12.496203

When looking at the mean the prices of products purchased by loyal customers is different than New and Regular customers.  Loyal customers spend the least out of the three groups.

#  Q6.  Create a spending flag for each user based on the average price across all their orders.

#### The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:  
####  If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”  
####  If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [15]:
# Create "average spent" column
ords_prods_merge['average spent'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

/var/folders/qg/tbv61t9j3ngdmw6m2qtbk34w0000gn/T/ipykernel_8946/695215565.py:2: FutureWarning: The provided callable <function mean at 0x104a39580> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['average spent'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [16]:
# Confirm new column has been added
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average spent
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,6.935811
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,6.935811
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,10,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,3,New customer,4.972414
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,11,1,both,Mid-range product,Least busy,Slowest days,Average orders,3,New customer,4.972414

In [17]:
# Create flags for low and high spender
ords_prods_merge.loc[ords_prods_merge['average spent']<10, 'spender_flag']='Low_spender'

In [18]:
ords_prods_merge.loc[ords_prods_merge['average spent']>= 10, 'spender_flag'] = 'High_spender'

In [19]:
# Check spender_flags
ords_prods_merge['spender_flag'].value_counts(dropna = False)

spender_flag
Low_spender     31798751
High_spender      635461
Name: count, dtype: int64

In [20]:
# Check spender flags for errors
ords_prods_merge[['user_id', 'average spent', 'spender_flag', 'prices']].head(100)

    user_id  average spent spender_flag  prices
0       138       6.935811  Low_spender     5.8
1       138       6.935811  Low_spender     5.8
2       709       7.930208  Low_spender     5.8
3       764       4.972414  Low_spender     5.8
4       764       4.972414  Low_spender     5.8
..      ...            ...          ...     ...
95    10831       7.494286  Low_spender     5.8
96    11119       5.878641  Low_spender     5.8
97    11186       6.662105  Low_spender     5.8
98    11243       5.927149  Low_spender     5.8
99    11448       5.981250  Low_spender     5.8

[100 rows x 4 columns]

# Q7.  Determine frequent vs non-frequent customers

####  In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
####  If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
####  If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
####  If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [21]:
# Create a column for frequent users
ords_prods_merge['Customer_orders_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

/var/folders/qg/tbv61t9j3ngdmw6m2qtbk34w0000gn/T/ipykernel_8946/1850922007.py:2: FutureWarning: The provided callable <function median at 0x104b737e0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['Customer_orders_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [22]:
# Confirm new column has been added
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average spent,spender_flag,Customer_orders_frequency
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,6.935811,Low_spender,8.0
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,6.935811,Low_spender,8.0
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,both,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low_spender,8.0
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,both,Mid-range product,Regularly busy,Slowest days,Most orders,3,New customer,4.972414,Low_spender,9.0
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,both,Mid-range product,Least busy,Slowest days,Average orders,3,New customer,4.972414,Low_spender,9.0

In [23]:
#  Creating frequency flags
ords_prods_merge.loc[ords_prods_merge['Customer_orders_frequency'] > 20, 'frequency_flag'] = 'Non_frequent_customer'

In [24]:
ords_prods_merge.loc[(ords_prods_merge['Customer_orders_frequency'] > 10) & (ords_prods_merge ['Customer_orders_frequency'] <=20),'frequency_flag'] = 'Regular_customer'

In [25]:
ords_prods_merge.loc[ords_prods_merge['Customer_orders_frequency'] <= 10, 'frequency_flag'] = 'Frequent_Customer'

In [26]:
# Check frequency flags
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent_Customer        21577409
Regular_customer          7217134
Non_frequent_customer     3639669
Name: count, dtype: int64

In [27]:
# Check frequency flags for errors
ords_prods_merge[['user_id', 'days_since_prior_order', 'Customer_orders_frequency', 'frequency_flag']].head(100)

,user_id,days_since_prior_order,Customer_orders_frequency,frequency_flag
0,138,3.0,8.0,Frequent_Customer
1,138,20.0,8.0,Frequent_Customer
2,709,6.0,8.0,Frequent_Customer
3,764,NaN,9.0,Frequent_Customer
4,764,9.0,9.0,Frequent_Customer
...,...,...,...,...
95,10831,23.0,23.0,Non_frequent_customer
96,11119,30.0,13.0,Regular_customer
97,11186,2.0,6.0,Frequent_Customer
98,11243,0.0,6.0,Frequent_Customer
99,11448,3.0,14.0,Regular_customer

# 3. Export dataframe as a pickle file to "Prepared Date" folder

In [28]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_agg_grouped.pkl'))

# 4.  Copying code from 4.9 to fix outliers

In [29]:
# Running check to see if any values are above $100
ords_prods_merge.loc[ords_prods_merge['prices'] > 100]

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average spent,spender_flag,Customer_orders_frequency,frequency_flag
13128379,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,912404,17,12,2,14,...,High-range product,Regularly busy,Regularly busy,Most orders,40,Regular customer,108.648299,High_spender,5.0,Frequent_Customer
13128380,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,603376,17,22,6,16,...,High-range product,Regularly busy,Regularly busy,Most orders,40,Regular customer,108.648299,High_spender,5.0,Frequent_Customer
13128381,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,3264360,135,2,2,21,...,High-range product,Regularly busy,Regularly busy,Average orders,4,New customer,1154.792308,High_spender,12.0,Regular_customer
13128382,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,892534,135,3,0,8,...,High-range product,Busiest day,Busiest days,Average orders,4,New customer,1154.792308,High_spender,12.0,Regular_customer
13128383,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,229704,342,8,1,19,...,High-range product,Regularly busy,Busiest days,Average orders,16,Regular customer,114.426619,High_spender,23.0,Non_frequent_customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21815122,33664,2 % Reduced Fat Milk,84,16,99999.0,2249946,204099,29,0,8,...,High-range product,Busiest day,Busiest days,Average orders,39,Regular customer,1106.743956,High_spender,4.0,Frequent_Customer
21815123,33664,2 % Reduced Fat Milk,84,16,99999.0,2363282,204099,31,0,9,...,High-range product,Busiest day,Busiest days,Most orders,39,Regular customer,1106.743956,High_spender,4.0,Frequent_Customer
21815124,33664,2 % Reduced Fat Milk,84,16,99999.0,3181945,204395,13,3,15,...,High-range product,Regularly busy,Slowest days,Most orders,15,Regular customer,451.153540,High_spender,5.0,Frequent_Customer
21815125,33664,2 % Reduced Fat Milk,84,16,99999.0,2486215,205227,7,3,20,...,High-range product,Regularly busy,Slowest days,Average orders,12,Regular customer,1178.381871,High_spender,12.0,Regular_customer
21815126,33664,2 % Reduced Fat Milk,84,16,99999.0,2232716,205227,10,0,11,...,High-range product,Busiest day,Busiest days,Most orders,12,Regular customer,1178.381871,High_spender,12.0,Regular_customer

In [30]:
# Turning outlier values into NAN values to mark them missing
ords_prods_merge.loc[ords_prods_merge['prices'] >100, 'prices'] = np.nan

In [32]:
# Checking missing values are now NAN
ords_prods_merge['prices'].max()

25.0

# 5. Re-exporting dataframe as a pickle file to "Prepared Date" folder

In [33]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_agg_grouped.pkl'))